# Dependencies and build output
node_modules
build
vendor

# Languages handled by other tools
*.php

# Minified assets
*.min.js
*.min.css

# Config and lock files
composer.json
composer.lock
package.json
package-lock.json
phpcs.xml
phpcs.xml.dist
.prettierrc
.prettierignore
.eslintrc
.eslintignore
.editorconfig
