<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"shanti/hero-cover"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-spacing"} -->
<main class="wp-block-group is-style-no-spacing">



	<!-- wp:spacer {"height":80} -->
	<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"align":"wide","layout":{"inherit":true}} -->
	<div class="wp-block-group alignwide" id="site-content">


		<!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
		<div class="wp-block-group alignwide">

			<!-- wp:pattern {"slug":"shanti/general-heading"} /-->

			<!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
			<div class="wp-block-group alignwide">

				<!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":1,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
				<div class="wp-block-query">

					<!-- wp:post-template -->
						<!-- wp:post-featured-image {"isLink":true,"width":"","height":"310px"} /-->
						<!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->
						<!-- wp:post-excerpt /-->
						<!-- wp:post-date {"fontSize":"small"} /-->
					<!-- /wp:post-template -->

				</div>
				<!-- /wp:query -->

			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":40} -->
			<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
			<p class="has-text-align-center has-medium-font-size"><a href="#">View all Posts</a></p>
			<!-- /wp:paragraph -->


		</div>
		<!-- /wp:group -->


	</div>
	<!-- /wp:group -->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
