<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content"} -->
<main class="wp-block-group">

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">

		<!-- wp:group {"align":"wide","className":"is-style-wide align-items-bottom","layout":{"type":"flex","justifyContent":"space-between","gap":"0"}} -->
		<div class="wp-block-group alignwide is-style-wide align-items-bottom">

			<!-- wp:group {"layout":{"inherit":false,"contentSize":"830px"}} -->
			<div class="wp-block-group">
				<!-- wp:post-title {} /-->	
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"}} -->
			<div class="wp-block-group">
				<!-- wp:post-date {"format":"F j, Y","isLink":false,"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->	
			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"full"} -->
	<div class="wp-block-group alignfull">
		<!-- wp:post-featured-image {"align":"full"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":32} -->
	<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">

		<!-- wp:spacer {"height":32} -->
		<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"className":"post-meta","layout":{"type":"flex","justifyContent":"space-between"}} -->
		<div class="wp-block-group post-meta">
			<!-- wp:post-author {"showAvatar":false,"fontSize":"small"} /-->
			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->
			<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
			<!-- wp:paragraph -->
			<p>•</p>
			<!-- /wp:paragraph -->
			<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:outermost/social-sharing {"iconColor":"foreground","iconColorValue":"#000000","showLabels":true,"className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"}} -->
		<ul class="wp-block-outermost-social-sharing has-visible-labels has-icon-color is-style-logos-only">

			<!-- wp:outermost/social-sharing-link {"service":"facebook"} /-->
			<!-- wp:outermost/social-sharing-link {"service":"twitter"} /-->
				
		</ul>
		<!-- /wp:outermost/social-sharing -->

		<!-- wp:spacer {"height":32} -->
		<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:separator {"className":"is-style-wide"} -->
		<hr class="wp-block-separator is-style-wide"/>
		<!-- /wp:separator -->

		<!-- wp:post-comments /-->

		<!-- wp:spacer {"height":32} -->
		<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->


		<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
		<div class="wp-block-group">
			<!-- wp:post-navigation-link {"showTitle":true} /-->

			<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
